.auth
{
	display: none;
}

@font-face {
    font-family: 'Gotham';
    src: url('GOTHAM-BOLD.TTF');
}
html, body {
	margin: 0;
	padding: 0;
	background-color: beige;
	color: #333;
	font-family: '微軟正黑體';
}

.main {
	/*background-image: url('tw.jpg');*/
	background-color: beige;
	background-size: 100%;

}
.hidden
{
  display:none;
}
label {
	margin-right: 5px;
}
.bottom-text {
	margin-bottom: 10px;
}
canvas{
	border-radius: 0px;
	box-shadow: 2px 3px 4px rgba(34, 25, 25, 0.4);
	width: 100px;
	height: 100px;
}
header {
	padding: 30px;
	background: #226F54;
	color: #fff;
	z-index: 3;
}
.side-bar {
	text-align: left;
	/*float: right;*/
	font-size: 16px;

	width: 280px;
	padding: 15px;
	margin-top: 5px;
	border-radius: 10px;
	background: rgba(255,255,255,0.85);
	/*background: beige;*/
	display: inline-block;

}
.side-bar input.number{
	line-height: 16px;
	font-size: 16px;
	width: 80px;
}
.side-bar input.image-btn{
	line-height: 16px;
	font-size: 16px;
	width: 120px;
}
td{
	vertical-align: top;
}
.canvas-area {
	
	opacity: 0.95;
	display: inline-block;
	

	/*width: calc(1000px);*/
	min-width: 1000px;
	margin-top: 5px;
	margin-bottom: 30px;
}
.left-bar{
	
	float: left;
	font-size: 16px;

	width: 280px;
	padding: 15px;
	margin-top: 5px;
	border-radius: 10px;
	background: rgba(255,255,255,0.85);
	/*background: beige;*/
	display: inline-block;

}
.left-bar input.image{
	line-height: 16px;
	font-size: 16px;
	width: 120px;
}

div.group{
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	border-width: 2px;
	border: 2px solid #675;
}

input#text{
	line-height: 32px;
	font-size: 32px;
	width: 240px;
}
.large-btn{
	color: #000;
	background-color: #efd;
	border-radius: 5px;
	width: 120px;
	height: 50px;
	font-size: 16px;
}
#gen-btn{
	color: #fff;
	background-color: #57d;
	border-radius: 5px;
	width: 200px;
	height: 100px;
	font-size: 32px;
}
